<head>
<style>
body-home {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
 
.bg-image {
background-image: url("../Images/bg1.jpg");
height: 660px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
 

</style>
</head>
<body class="bg-image">

 

</body>